<main class="flex flex-col items-center gap-4 p-8">

  <div class="border-[12px] rounded-lg border-lime-500">
    <img src="<%- user.profile_pic %>" width="300" class="object-cover" height="300" alt="<%- user.username %>">
  </div>

  <div class="w-full p-2 text-2xl font-semibold text-center text-white border-4 rounded-lg border-lime-500 bg-stone-900/40">
    <p><%- user.username %></p>
    <p><%- user.name %></p>
    <p><%- user.email %></p>
  </div>

</main>